<h1>Index</h1>



<p *ngIf="!toDos"><em>Loading...</em></p>

<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Is Complete</th>
      <th>Priority</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="toDos">
    <tr *ngFor="let todo of toDos;
                let i = index;">
      <td> <input type="checkbox" [value]="todo.id" [ngModel]="filter" (ngModelChange)="onFilterChange($event,i)" /></td>
      <td>{{ todo.name }}</td>
      <td>{{ todo.description }}</td>
      <td>
        <input type="checkbox" [value]="todo.isCompleted" [disabled]="true" [checked]="todo.isCompleted" />
      </td>
      <td>{{ callMethod(todo.priority) }}</td>
      <td>
        <a routerLink="/ToDoDetail/{{todo.id}}" class="btn btn-info">
          <span>  Detail  </span>
        </a>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>

      <td></td>
      <td align="right"><button type="button" class="btn btn-primary" (click)="btnAddClicked()">ADD</button></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>

<app-dialog [(visible)]="showDialog">
  <h1> Are you Sure you Want to delete {{SelectedIndex}} ?</h1>
  <button (click)="showDialog = !showDialog" class="btn">Close</button>
</app-dialog>







