


<form>
  <div class="form-group row">
    <label for="todoName" class="col-sm-2 col-form-label">Name</label>
    <div class="col-md-5">
      <input type="text" readonly class="form-control-plaintext" [value]="domainModel?.name">
    </div>
  </div>
  <div class="form-group row">
    <label for="todoDescription" class="col-sm-2 col-form-label">Description</label>
    <div class="col-md-5">
      <textarea rows="5" cols="45"
                readonly id="todoDescription" maxlength="200" [value]="domainModel?.description">
        </textarea>
    </div>
  </div>

  
  <div class="form-group row">
    <label for="todoIsComplete" class="col-sm-2 col-form-label">Is Complete</label>
    <div class="col-md-1">
      <input type="checkbox" readonly  id="todoIsComplete" class="form-control" disabled="disabled"  [(ngModel)]="domainModel.IsCompleted"  name="todoIsComplete" />
    </div>
  </div>



  <div class="form-group row">
    <label for="Priority" class="col-sm-2 col-form-label">Priority</label>
    <select id="Priority" value="[domainModel?.priority]" [value]="domainModel?.priority" [disabled]="true">
      <option value="">Please select a Priority</option>
      <option *ngFor="let item of toDoPriorities"
              [value]="item.key">
        {{item.value}}
      </option>
    </select>

  </div>

</form>

<div class="row">
  <div class="col-sm-2">

  </div>
  <div>
    <button *ngIf="!domainModel.IsCompleted" type="button" class="btn btn-primary" (click)="btnCompleteClicked()" [disabled]="!domainModel == null">Complete This Task</button>
    <button *ngIf="domainModel.IsCompleted" type="button" class="btn btn-primary" (click)="btnMoveToIndex()" [disabled]="!domainModel == null">Index</button>
    <button *ngIf="!domainModel.IsCompleted" type="button" class="btn btn-info" (click)="btnEditClicked()" [disabled]="!domainModel == null">Edit This Task</button>
    <button *ngIf="domainModel.IsCompleted" type="button" class="btn btn-warning" (click)="btnDeleteClicked()" [disabled]="!domainModel == null">Delete</button>
  </div>
</div>



